<nav class="topnav">
    <a class="brand" href="">
        <span class="brand-mark">🐾</span>
        <span class="brand-name">@AppConfig.StudioName</span>
    </a>
    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="uses">Use Cases</NavLink>
        <NavLink class="nav-link" href="terms">Agreement</NavLink>
    </div>
</nav>
